<!DOCTYPE html>
<html lang ="eng" >
<head>
<meta charset= "UTF-8">
<meta name="description" content="Adquire los licores mas finos de todo huancayo/n
                                    o convierte en nuestro distribuidor">
<link rel="stylesheet"  href="CSS/estilo1.css" type="text/css">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
                                    />
<title> Usuario</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">

</head>
<body>  
<header>
    <div class="header_waeter">
        <div class="header_picture">
            <figure id="zorrito"> <img src="imagenes/images.jpg" alt="Logo_zorritos"  width="80" height="80">
                   <figcaption style="color:aliceblue">Licoreria Zorrito</figcaption>
                </figure>
               
        </div>
        <div class="header_buscar">
            <input type="text" placeholder="    Buscar" required />
            <div class="btn">
                <i class="fas fa-search icon"></i>
            </div>
        </div>
        <div class="header_sesion">
            
            <input type="checkbox" id="btn-modal">
           <label for="btn-modal" class="lbl-modal">
            <img src="./imagenes/login.png"  alt="Inicio de sesión" >
            <h5>Iniciar sesion</h5></label>
            <div class="modal"> 
            <div class="contenedor">
                <header>Iniciar sesion </header>
                <label for ="btn-modal">X</label>
                <div class="contenido">
                    <form  action="/authenticate" method="POST">
                    <div class="Elemento">
                        <input type="text" id =" correo_user" name ="correo_user" placeholder= "Correo Electronico"
                        />
                    </div>

                    <div class="Elemento">
                        <input type ="password" id="contraseña_user" name="contraseña_user" placeholder= "Contraseña"
                        />
                    </div>
                  
                    <div class="Boton">
                        <input  type= "submit" href="./test.ejs" class="btn-login" value="Enviar" />
                    </div>
                        </form> 
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <% if (typeof alert != "undefined")  { %>
                            <script>
                            Swal.fire({
                              title:'<%= alertTitle %>',
                              text:'<%= alertMessage %>',
                              icon:'<%= alertIcon %>',
                              showConfirmButton: <%= showConfirmButton %>,//Ignorar este error todo sale bien
                              timer: <%= timer %>
                            }).then(()=>{
                                  window.location='/<%= ruta %>'
                            })
                            </script>
                           <% } %> 

                    <div class="Boton_2" >
                        <input type= "checkbox"  id ="btn-modal_2"/>
                        <label for="btn-modal_2" class="lbl-modal_2" >
                            <h5>Crear Nueva Cuenta</h5></label>
                        <div class="modal_2">    
                        <div class="contenedor_register">
                            <header>Registrarse </header>
                            <label for ="btn-modal_2">X</label>
                            <div class="contenido_register">
                            <form action="/save" method="POST" >
                                <div class="Elemento">
                                    <input class ="form-control" type="text" id =" Nombre_user" name ="Nombre_user" placeholder= "Nombre"
                                    />
                                </div>
                                
                                <div class="Elemento">
                                    <input type="text" class ="form-control" id =" Apellido_user" name ="Apellido_user" placeholder= "Apellido "
                                    />
                                </div>
            
                                <div class="Elemento">
                                    <input type="text" class ="form-control" id =" telefono_user" name ="telefono_user" placeholder= "Número telefonico"
                                    />
                                </div>
            
                                <div class="Elemento">
                                    <input type="text" class ="form-control" id =" DNI_user" name ="DNI_user" placeholder= "DNI"
                                    />
                                </div>
                                
                                <div class="Elemento">
                                    <input type="text" class ="form-control" id =" correo_user" name ="correo_user" placeholder= "Direccion "
                                    />
                                </div>
            
                                <div class="Elemento">
                                    <input type ="password" class ="form-control" id="contraseña_user" name="contraseña_user" placeholder= "Contraseña"
                                    />
                                </div>
                              
                                       <button input  type= "submit" class="btn-register" >Guardar</button>
                                
                            </form>           
                            </div>
                           <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <% if (typeof alert != "undefined")  { %>
                                <script>
                                Swal.fire({
                                  title:'<%= alertTitle %>',
                                  text:'<%= alertMessage %>',
                                  icon:'<%= alertIcon %>',
                                  showConfirmButton: <%= showConfirmButton %>,//Ignorar este error todo sale bien
                                  timer: <%= timer %>
                                }).then(()=>{
                                      window.location='/<%= ruta %>'
                                })
                                </script>
                               <% } %> 
                        </div>
                    </div>
                </div>
                         
                </div>
            </div>
           
            </div>
            
        </div>
        <div class="header_user">
            <h1>Página de Inicio</h1>
            
        </div>   
        <div class="header_carrito">
            <figure>
            <img src="./imagenes/icons8-carrito-de-la-compra-cargado-48.png" alt="Carrito de compras" >
        </figure>
        </div>
    </div>
    <nav >
        <ul>
            <li><a href="Categoria.html">Categorias</a></li>
            <li><a href="index.html">Inicio</a></li>
            <li><a href ="/Nosotros.ejs">Nosotros</a> </li>
            <li><a href ="  ">Ayuda</a></li>
            <li><a href ="  ">Contactenos</a></li>

        </ul>
    </nav>
</header>
<main>
<br/><br/><br/><br/>
<div class="main">
    <div class="Producto">
        <h4>Borgoña</h4>
        <img source="imagenes/Borgoña.jpg">
        <h3>S/.25.00</h3>
    </div>
    <div class="Producto">
        <h4>Montalvo</h4>
        <img source="imagenes/Borg.jpg">
        <h3>S/.30.00</h3>
    </div>
</div>
<br/><br/><br/><br/>
</main>
</body>
<footer class="Pie_página">
    <div class="grupo-1">
        <div class="logo">
            <figure>
                <a href="#">
                    <img src="./imagenes/images.jpg" alt="Logo Zorrito">                
                </a>
            </figure>
            <p class="logotipo">Licorería Zorrito</p>            
        </div>
        <div class="Redes-sociales">
            <h4>Síguenos</h4>
            <span class="fb"><i class="fa-brands fa-facebook"></i></span>
            <span class="in"><i class="fa-brands fa-instagram"></i></span>
        </div>  
        <div class="Información">
            <h4>Nosotros</h4>
                <a href="">Historia de la Licorería Zorrito</a>
        </div>
        <div class="Ayuda">
            <h4>Tienda Online</h4>
                <a href="#">Cómo comprar</a>
                <a href="#">Mis pedidos</a>
                <a href="#">Medios de pago</a>
                <a href="#">Preguntas frecuentes</a>
                <a href="#">Términos y condiciones</a>
        </div>
        <div class="Contactos">
            <h4>Contáctanos</h4>
                <a href="">Teléfonos</a>
                <a href="">Revisa tu boleta</a>
        </div>
    </div>
    <hr>
    <div class="grupo-2">
        <small>&copy; 2022 <b>*****</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
</html> 